<div class="card log-card shadow">
  <div class="card-header">
    <h4>Activity log</h4>
  </div>
  <div class="card-body log-body rounded">
    <ul class="list-group log">
      <li class="list-group-item border-0" *ngFor="let message of logMessages$ | async">
        {{message.timeStamp | date: 'd/M kl. HH:mm'}}
        <span *ngIf="message.userString && message.userString.length > 0"> | {{message.userString}}</span>
        <br>
        {{message.message}}
      </li>
    </ul>
  </div>
</div>

