<div class="row align-items-center justify-content-center vh-100" *ngIf="!(loggedInUser$ | async)">
  <div class="card shadow">
    <div class="card-header">
      <h4>Please login 🔑</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="nameFormControl">Enter your name:</label>
          <input type="text" class="form-control" [formControl]="nameFormControl" id="nameFormControl">
        </div>
        <div class="row justify-content-end">
          <button type="button" class="btn btn-primary mr-3" (click)="requestLogin()">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
