<app-user></app-user>

<div *ngIf="loggedInUser$ | async">
<div *ngIf="smartItems$ | async as smartItems">
  <div class="flex-container">
    <div>
      <app-log></app-log>
    </div>
    <div>
        <h2>Ground floor</h2>
      <div class="floorplan rounded shadow-sm">
        <button type="button" *ngFor="let smartItem of smartItems"
                [ngClass]="smartItem.on ? 'on' : 'off'"
                class="btn smart-item switch"
                style="top: {{smartItem.yPos}}px; left: {{smartItem.xPos}}px;"
                ngbPopover="{{smartItem.name}}" triggers="mouseenter:mouseleave" (click)="onSelect(smartItem)">
          {{smartItem.name}}
        </button>
      </div>
    </div>

    <div>
      <app-detail class="details"></app-detail>
    </div>
  </div>
  <br>
  <br>
</div>
</div>

