<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">X Position</th>
    <th scope="col">Y Position</th>
    <th scope="col">ON/OFF</th>
  </tr>
  </thead>
  <tbody>
  <div *ngIf="smartItems$ | async as smartItems">
    <tr *ngFor="let smartItem of smartItems">
      <td>{{smartItem.name}}</td>
      <td>{{smartItem.xPos}}</td>
      <td>{{smartItem.yPos}}</td>
      <td>
        <span *ngIf="smartItem.on">On</span>
        <span *ngIf="!smartItem.on">Off</span>
      </td>
    </tr>
  </div>
  </tbody>
</table>
